<?xml version="1.0" encoding="utf-8"?>
<repositories>
  <repository path="..\src\CityGames.Common\packages.config" />
  <repository path="..\src\CityGames.Data.SqlServer\packages.config" />
  <repository path="..\src\CityGames.Web.Api\packages.config" />
  <repository path="..\src\CityGames.Web.Common\packages.config" />
</repositories>